.footerCustom {
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
}

.footerCustom2 {
    background-color: rgba(0, 0, 0, 0.2)
}

.buttonCustom {
    color: #000000 !important;
    background-color: #fdc64f !important;
    border: none !important;
}

.buttonCustom:hover {
    transform: scale(1.1);
}

.buttonCustom2 {
    color: white;
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    border: none;
    border-radius: 5px;
    border: none !important;
}

.buttonCustom2:hover {
    transform: scale(1.1);
}

.iconoCustom {
    color: white;
}

.imgCustom {
    height: 750px;
    margin-top: 30px;
}
